
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body" style="margin-top: 50px;">
    <center style="height: 300px; padding-top: 10px;">
        <h1 class="text-success">Đặt Hàng Thành Công!</h1>
        <h2>Đơn hàng đang được xác nhận</h2>
        <h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
    </center>

    <a asp-controller="SanPham" asp-action="index">
        Về trang chủ
    </a>
</div>


