@model Register

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>


<div class="login-form" style="height: unset !important; margin-top: -105px!important;">
    <div class="main" style="padding-top: 100px; padding-bottom: 15px; margin-bottom: 0;">
        <form asp-controller="Security" asp-action="Register" method="post" class="form" id="form-1">
            <h3 class="heading">Đăng ký tài khoản</h3>
            <div class="dont-have-account">
                Bạn đã có tài khoản? <a class="account-register" asp-controller="Security" asp-action="SignIn">Đăng nhập</a>
            </div>

            <div class="spacer"></div>

            <div class="form-group">
                <label class="control-label text-left">Họ và tên</label>
                <div>
                    <input type="text" asp-for="FullName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label text-left">Tên đăng nhập</label>
                <div>
                    <input type="text" asp-for="UserName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label text-left">Mật khẩu</label>
                <div>
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label text-left" for="MatKhauXacNhan">
                    Mật khẩu xác nhận:
                </label>
                <div>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label text-left">Email</label>
                <div>
                    <input type="email" asp-for="Email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label text-left">Ngày sinh</label>
                <div>
                    <input type="date" class="form-control" asp-for="BirthDate" />
                </div>
            </div>

            <button type="submit" value="Create" class="form-submit" name="register_submit" >Đăng ký</button>

        </form>
    </div>
</div>
